body{
margin : 0px;
    background-color: beige;
    overflow: auto;

}

.buttonStart {
    
    background-color: beige;
    margin-top: 300px;
margin-left:auto;
margin-right:auto;
    border: 5px solid #2c3e50;
    color: #2c3e50;
    display: block;
    font-family: 'trebuchet ms';
    font-size: 70px;
    letter-spacing: 0.1px;
    padding: 20px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .buttonStart::before {
    content: "";
    background-color: #E26A6A;
    box-shadow: 10px 10px 0 #F1C40F, 
                20px 20px 0 #3498DB;
    position: absolute;
    left: 8px;
    top: 15px;
    height: 102%;
    width: 102%;
    z-index: -1;
    transition: all 0.4s ease;
  }
  
  .buttonStart:hover::before {
    box-shadow: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  

.gameCon{
    margin-left: 50px;;
    margin-top: 20px;

}
.letter{
    height: 100px;
    width:  100px;
    border: none;
font-size: 40px;
font-family: 'Courier New', Courier, monospace;
padding: 20px;
border-radius: 100%;
margin-left:10px;
text-align: center;
box-shadow: -2px 2px 0 gray;
background-color: #F1C40F;
color: white;
gap: 2px;

}
.letter:hover{
    opacity: 0.5;

}
.item{
    background-color: white;
    width: 30px;
    height: 20px;
    padding: 45px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    box-shadow: -2px 2px 0 gray;

}
.Con{
    
    display:grid;
    grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
    gap: 0.1px;
}
.timer{
    margin-top: 350px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    padding: 15px 25px;
    background-color: #E26A6A;
    color:white;
    font-family: arial;
    font-size: 20px;
    letter-spacing: 1px;
    box-shadow: -2px 2px 0 gray;
}
.score{
   
    width: 120px;
    height: 20px;
    margin-left: 10px;
    padding: 15px 25px;
    background-color: #E26A6A;
    color:white;
    font-family: arial;
    font-size: 20px;
    text-align: left;
    letter-spacing: 1px;
    box-shadow: -2px 2px 0 gray;
margin-top: 2px;
}
.animated{
    height: 50%;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: 1;   
    padding: 20px;
    width: 50%;
    margin-top: 220px;
   margin-left: 370px;
    background-color: #ffffff;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    /* border: 5px solid #2c3e50; */
    box-shadow: -2px 2px 0 gray;

}
.Statment{
    width: 100%;
    height: 100%;
    font-size: 33px;
    color:#2c3e50;
    display: block;
    margin-left: auto;
    margin-right: auto;
padding: 10px;
margin-top: 100px;
text-align: center;
text-decoration:  underline red;
}
p{
    
    font-family: 'trebuchet ms';
    color: #2c3e50;
    letter-spacing: 0.1rem;
    margin-top: 70px;
    margin-left:430px;
    display: block;
font-size: 20px;

}
#by{
    font-family: 'Courier New', Courier, monospace;
    color: #2c3e50;
    letter-spacing: 0.1rem;
    display: block;
margin-top: -200px;
margin-left:600px;
}
.allGame{
    margin-top: 5%;
width: 100%;
height: 100%;
margin-left:35%;
margin-right: auto;
align-items: center;
}
.header{
background-color:rgb(40, 80, 113);
padding: 30px;
font-size: 30px;
color: white;
font-family: Georgia, 'Times New Roman', Times, serif;;
letter-spacing: 1px;
box-shadow: -3px 3px 0 gray;
}
